.form-and-list {
  display: flex;
  gap: 40px;
}

.form-wrapper {
  width: 100%;
  max-width: 500px;
  height: 570px;
}

.list-wrapper {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  width: 100%;
  /* max-width: 800px; */
  gap: 8px;

}


@media screen and (max-width: 768px) {

  .form-and-list {
    flex-direction: column;
  }

  .list-wrapper {
    flex-direction: column;
  }

}


.top-wrapper{
  /* background-color: aquamarine; */
  display: flex;
  /* align-items: center; */
}

/* will move this style  */
.input-search{
  border-radius: 8px;
  padding: 10px;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #E1E8ED;
  width: 100%;
  max-width: 360px;
}

.search-btn{
  background-color: #E1E8ED;
  cursor: pointer;
}


.plus-sign{
  /* font-size: x-large; */
  /* padding: 3px; */
  margin-right: 15px;
  width: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: gray;
  height: 37px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-sign:hover{
  background-color: thistle;
}
